<%= form_with(model: [quiz], data: { controller: "nested-form"}, class: "p-4") do |form| %>
  <% if quiz.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
        <% quiz.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  
  <div class="bg-gray-100 rounded-md p-4">
    <%= form.fields_for :questions do |question_fields| %>
      <%= render "questions_fields", f: question_fields %>
    <% end %>
  </div>

  <%= link_to_add_question("Add Question", form, :questions) %>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
